@import url('https://fonts.googleapis.com/css2?family=Basic');

html, body {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 0;
}

#container {
    display: block;
    padding: 4px;
    margin: 4px;
    text-align: center;
}

video {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
    z-index: -1;
}

#text-container {
    width: 100%;
    margin: 40px 0;
    position: absolute;
    top: 10%;
}

.title-text {
    font-family: Basic, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 5vw;
    word-wrap: break-word;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #000;
}

#details-container {
    position: absolute;
    top: 36vw;
    background: #00000090;
    padding: 12px 24px 12px 24px;
    margin-right: 24px;
    border-radius: 0px 24px 24px 0px;
    width: auto;
    animation: fadeout 15s forwards;
}

#details-container .details-text {
    font-family: Basic, Helvetica, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    color: #fff;
    text-align: left;
    text-shadow: 2px 2px #000;
}

#details-container .details-text.item-0 {
    font-size: 3vw;
    font-weight: bold;
}

#details-container .details-text.item-1 {
    font-size: 2.5vw;
    font-weight: normal;
}

#details-container .details-text.item-2 {
    font-size: 2vw;
    font-weight: normal;
}

#details-container .details-text.item-3 {
    font-size: 1.5vw;
    font-weight: normal;
}

@keyframes fadeout {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slide {
    100% {left: 0;}
}