html, body {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 0;
}
#container {
    display: block;
    padding: 4px;
    margin: 4px;
    text-align: center;
}

video {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
}